header ul li a {
  padding-right: 1.5rem;
}
/* section 2 */
.section-2 {
  column-gap: 2rem;
}
.section-2-header {
  padding-top: 4.5rem;  
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}
/* section 3 */
.section-3-img {
  width:80px ;
  height: 80px;
}
/* section 4 */
.section-4-header {
  padding-top: 8rem;
  margin-bottom: 0;
}
/* section 5 */
.sec-5-img {
  padding-top: 9rem;
}
.sec-5-icon-container {
  margin-right: 2rem;
}